.App {
  text-align: center;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.App h2 {
  font-size: 1.4rem;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
  margin-bottom: -0.4rem;
}

.App-header {
  background-color: #00aced;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MarketDashboard, .WeatherDashboard, .FieldDashboard, .FarmerDashboard {
  width: 80%;
  margin: 10px auto;

  background-color: #00aced;
  color: #fff;
  -webkit-box-shadow: 21px 17px 73px -10px rgba(0,0,0,0.2);
  -moz-box-shadow: 21px 17px 73px -10px rgba(0,0,0,0.2);
  box-shadow: 21px 17px 73px -10px rgba(0,0,0,0.2);
}
.container {
  display: flex;
  justify-content: center;
}

.item {
  margin: 10px;
  padding: 10px 15px;
  background-color: #0084b4;
}

.btn {
  border: 2px solid #000080;
  background: transparent;
  padding: 5px 15px;
  margin: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #000080;
}

.weather-text {
  margin-bottom: 10px;
}

.container-item {
  margin: 10px;
  padding: 10px 15px;
  text-align: left;
}